body {
    background-color: #e0c4a4;
    text-align: center;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 5px solid white;
}
#disclaimer {
    position: absolute;
    text-align: left;
    transform: translate(-50%, 500%);
    width: 100%;
    font-size: 0.8em;
}
#player_spr {
    display: none;
}